*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
html,body{
    height: 100%;
    width: 100%;

}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
  .inter-<uniquifier>{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
#nav{
    padding: 3vw 2vw;
    height: 13.5vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    padding-top: 10px;
    height: 11vh;
    width: 250px;
}
#nav2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav2 h4{ 
    color: rgba(0, 0, 0, 0.911);
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 50px;
    font-weight: 500;
    transition: all ease 0.3s;
    font-size: 15px;
    position: relative;
    overflow: hidden;
}
#nav2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}
#nav2 h4:hover::after{
  bottom: 0;  
  border-radius: 0;

}
#nav2 h4:hover a{
    color: white;
}
#nav2 h4 a{
    color: black;
    text-decoration: none;
    z-index: 9;
    position: relative;
}

#div2{
    height: 40vh;
    width: 100%;
    background-color: #efeae3;
    
}
#search{
    height: 40vh;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.521);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}
#search .search-bar{
    display: flex;
    align-items: center;
    height: 20vh;
    /* padding: 40px; */
}
#search .search-bar .news-input{
    height: 6vh;
    width: 50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0px white solid;
    margin-left: 320px;
    padding-inline: 12px;
    font-size: 16px;
    background-color: #efeae3;
    font-family: 'Inter'
}

.search-button{
    height: 6vh;
    width: 100px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 0px grey;
    background-color: rgba(128, 128, 128, 0.168);
}
.search-button:hover{
    background-color: grey;
}
#search .search-links{
    height: 20vh;
    width: 100%;
}


.search-links ul{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-left: 100px;
    margin-right: 100px;
    flex-wrap: wrap;
}
.search-links ul li{ 
    color: rgba(0, 0, 0, 0.911);
    padding: 7px 20px;
    border: 1px solid gray;
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    overflow: hidden;
}
.hover-link{
    cursor: pointer;

}
.hover-link:hover{
    color:rgba(0, 0, 0, 0.678);
} 
main{
    padding-block: 40px;
   
    background-color: #efeae3;
    
}
.cards-container{
    margin-left: 45px;
    flex-wrap: wrap;
    row-gap: 50px;
    align-items: start;
    display: flex;
    gap: 50px;
}
.card{
    width: 320px;
    min-height: 400px;
    border: 0 solid rgba(0, 0, 0, 0.377);
    cursor: pointer;
    border-radius: 19px;
    background-color: rgba(128, 128, 128, 0.366);
overflow: hidden;
transition: all 0.3s ease;
}
.card:hover{
    background-color: rgba(128, 128, 128, 0.6);
    transform: translateY(-8px);
}
.card-header img{
    width: 100%;
    height: 200px;
    object-fit: cover;

}
.card-content{
    padding: 12px;
}
.news-source{
    margin-block: 12px;
}

#footer{
    height: 70vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#footer-top{
    margin-top: 16vh;
    height: 30vh;
    width: 80%;
    /* background-color: red; */
    position: relative;
    display: flex;
}
#footer-top #footer-top1{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-top #footer-top1 h6{
    color: white;
    font-size: 15px;
}
#footer-top #footer-top1 a{
    text-decoration: none;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.529);
   
}
#footer-top #footer-top2{
    width: 40%;
}

#footer-top #footer-top2 h6{
    color: white;
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 120px;
}
#footer-top #footer-top2 a{
    padding-left: 70px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.529);
}
#footer-top #footer-top3{
    width: 40%;
    padding-left: 25%;
}
#footer-top #footer-top3 h6{
    color: white;
    font-size: 15px;
}
#footer-top #footer-top3 #mail{
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.529);

}
 #footer-bottom{
    height: 20vh;
    width: 80%;
    display: flex;
    flex-direction: column;
}
#footer-bottom1{
    padding-top: 90px;
    padding-bottom: 20px;
}
#footer-bottom2{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
#footer-bottom h6{
    color: white;
    font-size: 14px;
}
#footer-bottom #footer-bottom2 #links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}


#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 25%;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    transition: opacity 0.3s;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Hide the button from being clickable */
}

#scrollToTopBtn.show {
    opacity: 1; /* Visible when shown */
    pointer-events: auto; /* Allow button to be clickable */
}

html{
    scroll-behavior: smooth;
}
#footer-top #footer-top1 a:hover{
    color: #987c56;
}#footer-top #footer-top2 a:hover{
    color: #987c56;
}#footer-bottom #footer-bottom2 #links a:hover{
    color: #987c56;
}








.expanded-card {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    height: 90vh;
    overflow: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.blur-background {
    filter: blur(5px);
    pointer-events: none;
}

.expanded-card.expanded-card-blur {
    filter: none; /* Remove the blur effect for the background */
    pointer-events: none;
}




